body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: firebrick;
    color:whitesmoke;
    font-family:sans-serif;
    text-align: center;
    height: 100px;
    line-height: 100px; 
    
}

.container {
    background-color: #fff;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    color: #0073e6;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
   color:blue;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea,
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="color"],
input[type="range"],
input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

textarea {
    height: 80px;
}

input[type="range"] {
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #0073e6;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/*Responsive Design: The CSS includes a media query for screens with a maximum width of 600px, 
ensuring the form adjusts its layout for smaller devices. 
Font sizes and padding are reduced to make the form more compact on small screens.*/
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    select,
    textarea,
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="color"],
    input[type="range"],
    input[type="file"] {
        font-size: 12px;
        padding: 8px;
    }
}