*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*view port height =100%*/
}

header {
    background-color: rgb(241, 113, 9);
    color:rgb(247, 240, 240);
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {   
    margin-right: 1rem; 
    height: 100px;  
    width: 100px;
}
nav, footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

aside {
    background-color: #f4f4f4;
    padding: 1rem;
    flex: 1;
   /* order: -1;  This moves the sidebar to the left */
}

main {
    flex: 3;
    padding: 1rem;
    text-align: center;
    color: rgb(8, 245, 245);
    font-weight: bolder;
   

    background-image:url("/Images/bg.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
.container {
    display: flex;
    flex: 1;
}

/*Responsiveness - For devices screen width less than 768px
                  - Mobile, IPAd */
                  @media (max-width: 768px) {
                    .container {
                        flex-direction: column;
                    }
                
                    nav ul {
                        flex-direction: column;
                    }
                
                    nav ul li {
                        margin: 0.5rem 0;
                    }
                }